
/*----------------------------------------------------------------------------------*/
/*Fondo y Footer*/

.header-1{
	background-color: #000 !important;
	padding: 5px;
}

.background{
	background: url(../img/violin23.jpg) 50% 50% no-repeat;
	background-size: cover;
	height: 100vh;
}

#background{
	background: url(../img/Portada-Dime.jpg) 50% 50% no-repeat;
	background-size: cover;
	height: 100vh;
}


div #icons-pri a{
	color: #000;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 20px;
}

/*----------------------------------------------------------------------------------*/
/*Interfaz y Navegación*/

body{
	margin:0;
	padding:0;
	/*font-family:'Montserrat',sans-serif;*/
	font-size:15px;
}
ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
}
nav {
	text-align:center;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
	background:none;
}
nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
}
nav ul li a {
	color:#fff;
	display:inline-block;
	padding:1em 3em;
	text-decoration:none;
	border-bottom:1px solid #fff;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	font-size:16px;
}
nav ul li a:hover {
	color: #D35B12;
	border-bottom:1px solid #D35B12;
}
/*styling open close button*/
.button {
	display:inline;
	position:absolute;
	right:50px;
	top:17px;
	z-index:999;
	font-size:25px;
}
.button a {
	text-decoration:none;
}
.btn-open:after {
	color:#fff;
	/*content: "\f0c9";
	font-family:"Font Awesome 5 Free";*/
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:#fff;
}
.btn-close:after {
	color:#333;
	/*content: "\f0c9";
	font-family:"Font Awesome 5 Free";*/
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #fff;
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background: #586AD7 !important;
	overflow:auto;
	z-index:99;
}
.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	margin-top: 20px;
	border: 1px solid #575757;
	/*border-bottom:1px solid #575757;*/
	text-transform:capitalize;
	padding:150px 0px 100px;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:24%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color: #000;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:15px;
	width:100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
	color:#000;
}
.social {
	font-size:25px;
	padding:20px;
}
.social p {
	margin:0;
	padding:20px 0 5px 0;
	line-height:30px;
	font-size:13px;
}
.social p a {
	color:#34B484;
	text-decoration:none;
	margin:0;
	padding:0;
}
.social-icon {
	width:80px;
	height:50px;
	background:#e9e9e9;
	color:#333;
	display:inline-block;
	margin:0 20px;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.social-icon:hover {
	background:#34B484;
	color:#f0f0f0;
}
.social-icon i {
	margin-top:12px;
}
@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
	nav ul {
		opacity:0;
		visibility:hidden;
	}
	.social {
		color:#fff;
		font-size:25px;
		padding:15px 0;
	}
	.social-icon {
		width:100%;
		height:50px;
		background:#000;
		color:#333;
		display:block;
		margin:5px 0;
	}

	.btn-open{
		color:#000;
	}
}
.content {
	width:100%;
	margin-top:200px;
	font-size:20px;
	color: #333;
	text-align: center;
}

/*----------------------------------------------------------------------------------*/
/*App - Info*/

.master-t{
	color: #f5f5f5;
	font-size: 130%;
	line-height: 150%;
	padding: 3%;
	text-align: justify;
}

.inner-wrapper-1{
	float: left;
	width: 100%;
	background-color: #c3d7df;
}

article{
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

/*la imagen no debe tener fondo
#img-1{
	background-color: #c3d7df;
}*/

aside{
	float: right;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

.inner-wrapper-2{
	float: left;
	width: 100%;
	background-color: #90CCEE;
}

/*.image{
	height: 600px;
	width: 655px;
}*/

/*----------------------------------------------------------------------------------*/
/*Form - Style Material Desing Code*/
/*
.container{
	background: #F47373;
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.section{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.center, .center-align {
  text-align: center;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.input-field {
  position: relative;
  margin-top: 1rem;
}
*/

/*----------------------------------------------------------------------------------*/

/*Style Form Loger*/

.top{
	margin-top: 150px;
}

.top1{
	margin-top: 110px;
}

.top2{
	margin-top: 25px;
}

.contactform input{
	border:0px;
	border-bottom:1px solid #333;
	width:100%;
	background-color:transparent;
	padding:10px 0px;
	margin-bottom:20px;
}

.contactform input#submit{
	width:auto;
	border:1px solid;
	padding:6px 15px;
	display:inline-block;
}
.contactform input#submit:hover {
	background-color:#333;
	color:#fff;
	border:1px solid #333;
}
.contactform input:focus,#contactform input:active,#contactform textarea:focus,#contactform textarea:active {
	border-top:0px;
	border-bottom:1px solid lightseagreen;
	outline:0;
	outline: none;
}
/*
button{
	background-color:transparent;
	width:auto;
	border:2px solid;
	padding:6px 15px;
	display:inline-block;
}

button:hover{
	background-color:#333;
	color:#fff;
	border:2px solid #333;
}
*/

.padding{
	
	padding: 9px;
}

.contactform select{

	border: none;
	border-bottom:1px solid;
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Botones*/

/*Green Color*/

.blue {
	
	width:100%;
	background-color:transparent;
	padding:10px 0px;
	margin-bottom:20px;

	width:auto;
	border:1px solid #3680D3;
	padding:6px 15px;
	display:inline-block;
}

.blue:hover{

	background-color: #3680D3;
	color:#fff;
	border:1px solid #3680D3;
}

.green {
	
	width:100%;
	background-color:transparent;
	padding:10px 0px;

	width:auto;
	border:1px solid #14891C;
	padding:6px 15px;
	display:inline-block;
}

.green:hover{

	background-color: #14891C;
	color:#fff;
	border:1px solid #14891C;
}

.red {
	
	width:100%;
	background-color:transparent;
	padding:10px 0px;
	
	width:auto;
	border:1px solid #D92A21;
	padding:6px 15px;
	display:inline-block;
}

.red:hover{

	background-color: #D92A21;
	color:#fff;
	border:1px solid #D92A21;
}

.violet{
	
	width:100%;
	background-color:transparent;
	padding:10px 0px;

	width:auto;
	border:1px solid #5D3CD9;
	padding:6px 15px;
	display:inline-block;
}

.violet:hover{

	background-color: #5D3CD9;
	color:#fff;
	border:1px solid #5D3CD9;
}

.paperclip{
	
	width:100%;
	background-color:transparent;
	padding:10px 0px;

	width:auto;
	border:1px solid #F75118;
	padding:6px 15px;
	display:inline-block;
}

.paperclip:hover{

	background-color: #F75118;
	color:#fff;
	border:1px solid #F75118;
}

.list{
	
	width:100%;
	background-color:transparent;
	padding:10px 0px;

	width:auto;
	border:1px solid #5D3CD9;
	padding:6px 15px;
	display:inline-block;
}

.list:hover{

	background-color: #5D3CD9;
	color:#fff;
	border:1px solid #5D3CD9;
}


